body
{
    display: flex;
    background-image: url("../Images/Space.jpg");
    background-size: cover;
}

.Lib
{
    position: absolute;
    right: 30rem;
    top : 25rem;
}

.Sub
{
    margin-left: 2%;
}

.Lib input
{
    margin-bottom: 0.5rem;
    height: 2rem;
    width: 10rem;
}