body
{
    display: flex;
    background-image: url("../Images/Space.jpg");
    background-size: cover;
}

#logo
{
    top : 10%;
    position:absolute;
    right: 0;
    margin-right:7rem;
}

.login
{
    position: absolute;
    right: 40rem;
    top : 25rem;
}

.Sub
{
    margin-left: 2%;
}

.login input
{
    margin-bottom: 0.5rem;
    height: 2rem;
    width: 10rem;
}

