body
{
    background-image: url("../Images/Space.jpg");
    background-size: cover;
    color: white;
}

.searchForm
{
    background-color: wheat;
}

.searchTable
{
    border-style: solid;
    background-color: black;
}

.searchTable th
{
    background-color: blue;
    border: 4px solid #000000;
}

.searchTable td
{
    border: 4px solid #000000;
    background-color: red;
}