<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/login.css')}}">
</head>
<body>
    {%if isLib == True %}
    <div id="Livre">
        <form action="">
            <div class="Titre">
                <h1> <input type="text" name="TITLE" placeholder="{{title}}"> </h1>
                <h2> <input type="text" name="ISBN" placeholder="{{id}}"> </h2>
                <input type="text" name="TOPIC" placeholder="{{tag}}">
                <input type="text" name="OVERVIEW" placeholder="{{recap}}">
                <input type="text" name="AUTHOR" placeholder="{{auteur}}">
                <input type="text" name="DOR" placeholder="{{dateSortie}}">
                <input type="text" name="PUBLISHER" placeholder="{{editeur}}">
                <input type="text" name="LANG" placeholder="{{langue}}">
            </div>
            <input type="submit" value="Modifier">
        </form>           
    </div>
    {%else%}
    <div id="Livre">
        <div class="Titre">
            <h1> {{title}} </h1>
            <h2> {{id}} </h2>
        </div>
    </div>

    {%endif%}
</body>
</html>