<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .tablebodydecor, td , tr {
 align: middle;
 text-align: center;
 margin: auto;
 background:  rgb(221,221,221);
 padding: 0px;
 border: 1px solid black;
 border-collapse: collapse;
 width: 25%;
      }
      th {
      width: 50%;
      height: 70px;}
</style>
    <title>Document</title>
</head>
<body>
    Hello World
<table class="tablebodydecor">
    <thead></thead>
    <tbody>
 <tr>
  <th colspan="2">Box 1</th>

 </tr>
 <tr>
  <td>Ping:</td>
  <td>&nbsp;</td>

 </tr>
 <tr>
  <td>Latence</td>
  <td>&nbsp;</td>

 </tr>
    </tbody>
</table>
</body>
</html>