<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
    <title>Bookworms</title>
</head>
   <body>
      {{user}}
      <table border = 1>
         {% for header in headings %}
            <th> {{ header }} </th>
         {% endfor %}
         {% for row in data %}
            <tr></tr>
            {% for cell in row %}
               <td> {{ cell }} </td>
            {% endfor %}
         {% endfor %} 
      </table>
   </body>
</html>