<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/login.css')}}">
    <title>Document</title>
</head>
<body>
    <div id = "logo">
        <img src="{{url_for('static',filename='Images/Logo.png')}}" alt="">
    </div>  
    <h1 id="Alerte">{{msg}}</h1>  
    <form action="/" method ="post" class="login">
        <input type="text" name="idTxt" placeholder="Identifiant"/><br>
        <input type="password" name="pwdTxt" placeholder="Mot de passe"/><br>
        <input type="submit" name="button" class="Sub" value="Button"/>
    </form>
    
</body>
</html>