<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/search.css')}}">
</head>
<body>
    <h1>Bonjour <b>{{user}}</b></h1>
    
    <form method="post" class="searchForm">
        <input type="text" name="searchTitle" placeholder="Search by title"/>
        <input type="text" name="searchAuthor" placeholder="Search by author"/>
        <input type="text" name="searchTopic" placeholder="Search by topic"/>
        <select name="format">
            <option value=""></option>
            <option value="PaperBack">PaperBack</option>
            <option value="Hardcover">Hardcover</option>
            <option value="Audiobook">Audiobook</option>
            <option value="Audio_CD">Audio CD</option>
            <option value="MP3_CD">MP3 CD</option>
            <option value="PDF">PDF</option>
        </select>
        <input type="submit" name="button" class="Sub" value="Button"/>
    </form>
    <table class="searchTable">
        {% for header in headings %}
           <th> {{ header }} </th>
        {% endfor %}
        {% for row in data %}
            <tr></tr>
            {% for cell in row %}
                {%if (loop.index == 2) %}
                    <form action="/book" method="post">
                        <input type="hidden" name ="idbook" value="{{id}}">
                        <td><input type="submit" name="title" value="{{cell}}" class="subbutton"></td>
                    </form>
                {%else%}
                    <td>{{ cell }}</td>
                {%endif%}
            {% endfor %}
       {% endfor %} 
    </table>
    <form action="/book" method="post">
        <input type="submit" value="bnt">
    </form>
    
</body>